html {
  background-color: #040614;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

main {
  position: relative;
  min-height: 100vh;
}
#silky-dinars-jar {
  display: flex;
  align-items: center;
  color: gold;
}

.logo2 {
  margin-right: 10px;
}


.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #040614;
  color: white;
  padding-inline: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 1rem;
  cursor: pointer;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.grid-section,
.horizontal-section,
.flex-section {
  padding: 2rem;
}

.horizontal-section,
.flex-section {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.grid-item {
  position: relative;
  display: block;
  border-radius: 8px;
  aspect-ratio: 1;
  overflow: hidden;
  opacity: 1;
  transition: display 0s, opacity 0.5s linear, scale 0.2s, filter 0.3s;
}
.grid-item .price-span {
  display: inline-block;
  font-size: small;
}

.grid-item:hover {
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 255, 0, 0.1333333333));
}
.grid-item:hover button {
  opacity: 1;
}

.grid-item.hidden {
  display: none;
  opacity: 0;
}

.grid-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: scale 0.2s;
}

.grid-item:hover img {
  scale: 1.1;
}

.grid-item .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
}

.h-scroll-container {
  width: 100%;
  max-width: 2000px;
}

.h-scroll-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 2rem;
  list-style-type: none;
  overflow: auto;
}

[data-animated="true"] .h-scroll-wrapper {
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll-h 60s linear infinite;
}

[data-animated="true"] .h-scroll-wrapper:has(.grid-item:hover) {
  animation-play-state: paused;
}

.h-scroll-wrapper img {
  height: 300px;
}

.h-scroll-container[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

@keyframes scroll-h {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.scroll-item {
  flex: 0 0 auto;
  width: 200px;
  background: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

.flex-section .filter-container {
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.filter-container > li {
  flex: 1;
  background-color: #aaa;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  transition: flex 0.5s ease-in-out;
}

.filter-container > li:hover {
  background-color: #aaf;
}

.filter-container > li.active {
  flex: 2;
}

.product_popover {
  height: 80vh;
  width: 80vw;
  overflow: auto;
}

.product_popover::backdrop {
  background-color: rgba(0, 0, 0, 0.3333333333);
}

.grid-item button {
  border: none;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #1976d2;
  opacity: 0;
  z-index: 2;
  color: #fff;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  cursor: pointer;
}

/* Login Section Styles */

.login-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  /* border: 4px solid red; */
  display: none;
  place-items: center;
  backdrop-filter: blur(10px);
}
.login-container div {
  border: 2px solid red;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}

.login-container form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.close-login {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  background-color: #f00;
  border-radius: 5px;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}
.cart-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid #1976d2;
  min-width: 150px;
  border-radius: 10px;
  transition: opacity 1s;
  padding: 1rem;
  /* display: none; */
  z-index: -8;
  opacity: 0;
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 1 calc(50% - 1rem);
  }
}
@media (max-width: 480px) {
  .flex-item {
    flex: 1 1 100%;
  }
  .cart-container {
    width: 90vw;
  }
}
/*# sourceMappingURL=index.css.map */
